/** se agrega esta parte para la animacion de imagenes */
.image-div {
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  animation: mymove 10s infinite;
}

/** Se remplaza las imagenes para dar efecto de cambio */
@keyframes mymove {
  from {top: 0px;background-image: url(./assets/images/imageParts.png);}
  to {top: 20px;  background-image: url(./assets/images/image.png);}
}
